<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/f31d22955e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style.css" />
        <title>Document</title>
    </head>
    <body>
        <h3>Todo-List</h3>

		<ul>
			<% todos.forEach( el => { %>
				<li class='task' data-id='<%=el._id%>'>
					<span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
					<i class="fa fa-trash"></i>
				</li>
			<% }) %>    
			</ul>

        <h4>Add Todo:</h4>

        <form action="/addTask" method="POST">
            <input type="text" name="task"/>
            <input type="submit" value="Submit"/>
        </form>

        <script src="/main.js"></script>
    </body>
</html>
